.main-page{
  height: 100%;
  width: 100%;
  background-color: black;
}

#field {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  background: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
};

#battleMenu{
  position: absolute;
  width: 100%;
  border-radius: 20px;
  border: 1px solid white;
  right: 327px; 
  bottom: -30px;
  height: 180px; 
  width: 798px;
  background: blue;
  color: white;
  z-index: 2;
};

.hp-border{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 4px;
}

.hp-bar{
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 20px;
  background-color: greenyellow;
  border: 2px solid white;
};