.dmg-text {
  color: white;
  background: blue;
  border: 1px solid white;
  text-align: center;
  z-index: 2;
  position: absolute;
  border-radius: 5px;
  width: 800px;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}
.miss-text {
  color: white;
  background: blue;
  border: 1px solid white;
  text-align: center;
  z-index: 2;
  position: absolute;
  border-radius: 5px;
  width: 800px;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}
.boss-dmg-text {
  color: white;
  background: blue;
  border: 1px solid white;
  text-align: center;
  z-index: 2;
  position: absolute;
  border-radius: 5px;
  width: 800px;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}
.boss-miss-text {
  color: white;
  background: blue;
  border: 1px solid white;
  text-align: center;
  z-index: 2;
  position: absolute;
  border-radius: 5px;
  width: 800px;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.main-page {
  height: 100%;
  width: 100%;
  background-color: black;
}

#field {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  background: blue;
  z-index: 1;
}

.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#battleMenu {
  position: absolute;
  border-radius: 20px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  top: 85%;
  left: 50%;
  height: 180px;
  width: 800px;
  transform: translate(-50%, -50%);
  background: blue;
  color: white;
  z-index: 2;
}

.hp-border {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 4px;
}

.hp-bar {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 20px;
  background-color: greenyellow;
  border: 2px solid white;
}

.game-over {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 200px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  z-index: 2;
  font-size: 50px;
}

.music {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  top: 20%;
  left: 5%;
}

.music p {
  font-size: 15px;
  font-family: "Final Fantasy", sans-serif;
  color: white;
  text-align: left;
  margin-top: 10px;
}

.music-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: blue;
  text-align: center;
  transition: all 0.2s;
}

.music-button:hover {
  background-color: blue;
}
