.main-page{
  height: 100%;
  width: 100%;
}

#field {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  background: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
};

.battle-menu-container{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  right: 70px; 
  bottom: 10px; 
  width: 800px;
  background: blue;
  color: white;
  z-index: 2;

}